<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{{title}}</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        <link href="css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="css/heading.css">
        <link rel="stylesheet" href="css/body.css">
    </head>
    <body id="page-top">
        <nav class="navbar navbar-expand-lg bg-primary fixed-top" id="mainNav">
            <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">{{title}}</a>
                <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarresponsive" aria-controls="navbarresponsive" aria-expanded="false" aria-label="toggle navigation">menu <i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarresponsive">
                    <ul class="navbar-nav ml-auto">
                        {{#nav}}
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{link}}">{{name}}</a></li>
                        {{/nav}}
                    </ul>
                </div>
            </div>
        </nav>
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- masthead image-->
                <img class="masthead-avatar mb-5" src="{{masthead_image}}" alt="">
                <!-- masthead heading-->
                <h1 class="masthead-heading mb-0">{{title}}</h1>
                <!-- icon divider-->
                {{{divider}}}
                <!-- masthead subheading-->
                {{#masthead_subheadings}}
                <p class="pre-wrap masthead-subheading font-weight-light mb-0">{{.}}</p><p>
                {{/masthead_subheadings}}
                <!-- call to action -->
                <p><p><a class="btn btn-xl btn-outline-light" href="{{call_to_action_link}}">{{call_to_action_subhead}}</a></p>
            </div>
        </header>
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- portfolio section heading-->
                <div class="text-center">
                    <h2 class="page-section-heading text-primary mb-0 d-inline-block">{{portfolio_header}}</h2>
                </div>
                <!-- icon divider-->
                {{{divider}}}
                <!-- portfolio grid items-->
                <div class="row justify-content-center">
                    <!-- portfolio items-->
                    {{#modals}}
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#{{id}}">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div><img class="img-fluid" src="{{img_src}}" alt="{{alt_text}}"/>
                        </div>
                    </div>
                    {{/modals}}
                </div>
            </div>
        </section>
        <!-- portfolio modal-->
        {{#modals}}
        <div class="portfolio-modal modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="#{{id}}label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- portfolio modal - title-->
                                    <h2 class="portfolio-modal-title text-secondary mb-0">{{title}}</h2>
                                    <!-- icon divider-->
                                    {{{divider}}}
                                    <!-- portfolio modal - image--><img class="img-fluid rounded mb-5" src="{{img_src}}" alt="{{alt_text}}"/>
                                    <!-- portfolio modal - text-->
                                    <p class="mb-5">{{text}}</p>
                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/modals}}
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- about section heading-->
                <div class="text-center">
                    <h2 class="page-section-heading d-inline-block text-white">{{about_title}}</h2>
                </div>
                <!-- icon divider-->
                {{{divider}}}
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto">
                        {{#about_text}}
                        <p class="pre-wrap lead">{{.}}</p>
                        {{/about_text}}
                    </div>
                    <div class="col-lg-4 mr-auto">
                        <img class="img-fluid rounded" src="{{about_image}}" alt_text="{{about_image_alt_text}}">
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <div class="text-center">
                    <h2 class="page-section-heading text-primary d-inline-block mb-0">CONTACT</h2>
                </div>
                <!-- Icon Divider-->
                {{{divider}}}
                <div class="text-center">
                    <p class="pre-wrap masthead-subheading font-weight-light mb-0">{{contact_subheading}}</p>
                    <p><p>
                    <p><a class="btn btn-xl btn-outline-dark" href="{{call_to_action_link}}">{{contact_call_to_action}}</a></p>
                </div>
                <!-- call to action -->
               
                <!-- Contact Section Content-->
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="d-flex flex-column align-items-center">
                            <div class="icon-contact mb-3"><i class="fab fa-instagram"></i></div>
                            <div class="text-muted">Follow Us</div>
                            {{#instagram}}
                            <div class="lead font-weight-bold">
                                <a href="{{link}}" target="_blank">{{handle}}</a>
                            </div>
                            {{/instagram}}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex flex-column align-items-center">
                            <div class="icon-contact mb-3"><i class="far fa-envelope"></i></div>
                            <div class="text-muted">Email</div><a class="lead font-weight-bold" href="mailto:{{email}}">{{email}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer text-center">
            <div class="container"><small class="pre-wrap">{{copyright}}</small></div>
        </footer>
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
